!! General apparence
URxvt*termName: rxvt-unicode-256color
!!URxvt*background: #3E3D3F
!!URxvt*foreground: #FFFFFF
!! Font
!!URxvt*font: xft:DejaVu Sans Mono:pixelsize=13
!!URxvt*boldFont: xft:Fantasque Sans Mono:pixelsize=13
!!URxvt*font: xft:scientifica
!!URxvt.font: xft:Fantasque Sans Mono:pixelsize=13
URxvt.font: xft:Iosevka Light:pixelsize=15
URxvt*boldFont: xft:Iosevka Medium:pixelsize=15
URxvt*letterSpace: 0 
!!Scroll bar
!!URxvt*savelines: 1000000
URxvt*scrollBar: false
URxvt*internalBorder: 15
!!URxvt*scrollBar_right: true
!!URxvt*scrollColor: #4B4B4B
!!URxvt*scrollBar_floating: true
!!URxvt*scrollstyle: plain

!!Mapping
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
xvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.C-j:   resize-font:smaller
URxvt.keysym.C-k:   resize-font:bigger
!!Perl stuff
URxvt.perl-ext-common: default,matcher,resize-font

!! Colors
*foreground:   #c5c8c6
*background:   #1d1f21
*cursorColor:  #c5c8c6

! black
*color0:       #282a2e
*color8:       #373b41

! red
*color1:       #734545
*color9:       #d58282

! green
*color2:       #959a5f
*color10:      #7b9071

! yellow
*color3:       #ad9a61
*color11:      #d2a646

! blue
*color4:       #e3db86
*color12:      #d9c24d

! magenta
*color5:       #a79fa9
*color13:      #dbc6e1

! cyan
*color6:       #6d8582
*color14:      #8bb8b2

! white
*color7:       #888a8d
*color15:      #a3a5a4


! ------------------------------------------------------------------------------
! ROFI Color theme
! Copyright: 2017 leofa
! ------------------------------------------------------------------------------
rofi.font: Iosevka Light 13
! "Color scheme for normal row" Set from: File
rofi.color-normal:                  #373b41, #959a5f, #373b41, #7b9071, #f9f9f9
! "Color scheme for urgent row" Set from: File
rofi.color-urgent:                   argb:02d303b0, #cc6666, argb:e52d303b, #a54242, #f9f9f9
! "Color scheme for active row" Set from: File
rofi.color-active:                   argb:ffd303b0, #d9c24d, argb:e42d303b, #8c9440, #f9f9f9
! "Color scheme window" Set from: File
rofi.color-window:                   #373b41, #373b41, #1d1f21
! "Separator style (none, dash, solid)" Set from: XResources
rofi.separator-style:                solid
